.header h1,
.header .breadcrumb {
   text-align: center;
}
 
 h1{ color:rgb(223, 85, 10);}
 h2{ color:rgb(22, 205, 59);}
 h3{ color:rgb(205, 22, 153);}
 
 body{text-align: center}
 body {background-color: rgb(141, 252, 195);}  
 section {background-color: rgb(247, 240, 226);}  
 section {text-align: center;}
 div { text-align: center;}


.book {
       border-bottom: 1px solid rgb(...);
}
.header h3
.header .breadcrumb{
    text-align: center;
}
h1{text-align:center;}
h2{text-align:center;}
h3{text-align:center;}
img{text-align:center}

.book .addbtn,
.searchBar input[type=submit] {
--padding: 8px 10px;
--border-radius: 5px;
--min-width: 80px;
--float: right;
--font-size: 1.1em;
}

.book .addbtn {
  background-color: rgb(79, 149, 255);
}