h1{ color:pink;} body{text-align: center}
body text-align: center
.img src="perfume 1.jpg"{text-align: center}
.dropdown:hover .dropdown-menu{display:block}
.navbar{color:rgb(190, 10, 151) ;}
.navbar-light .navbar-nav .nav-link {
  color: rgb(156, 6, 119)}